@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  overflow-x: hidden;
}

body a {
  text-decoration: none;
}

p {
  line-height: 1.4;
  text-align: justify;
}

.my-life--free-time h3 {
  margin-bottom: 2.4rem;
}

.scroll_btn_up {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background: #1098ad;
  height: 44px;
  width: 44px;
  line-height: 44px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  color: #e3fafc;
  z-index: 999;
  opacity: 0;
}

.scroll_btn_up.show {
  opacity: 1;
}

section {
  padding: 101px 0;
  color: #1098ad;
}

section .wide h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  color: #1098ad;
  margin-bottom: 74px;
}

section .wide h2::before {
  content: "";
  height: 4px;
  width: 200px;
  background: #1098ad;
  position: absolute;
  bottom: -12px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

section .wide h2::after {
  content: "Just a boy";
  position: absolute;
  bottom: -22px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 18px;
  background: #fff;
  padding: 0 12px;
}

.navbar {
  background-color: #fff;
  position: fixed;
  width: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 999;
}

.navbar .wide .logo {
  padding: 12px;
}

.navbar .wide .logo a {
  color: #1098ad;
}

.navbar .wide .menu__btn {
  display: none;
  width: 4rem;
  height: 4rem;
}

.navbar .menu li {
  display: inline-block;
  padding: 12px;
}

.navbar .menu li a {
  color: #1098ad;
  position: relative;
}

.navbar .menu li a::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  height: 5px;
  width: 0px;
  -webkit-transition: 600ms;
  transition: 600ms;
}

.navbar .menu li a:hover::before {
  width: 100%;
  background: #1098ad;
}

.navbar .menu .menu__btn.nav {
  display: inline;
}

.navbar.sticky {
  background: #1098ad;
}

.navbar.sticky .logo a {
  color: #333;
}

.navbar.sticky .logo a i:hover {
  color: #c0ffff;
}

.navbar.sticky .menu li a {
  color: #c0ffff;
}

.navbar.sticky .menu li a::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  height: 5px;
  width: 0px;
  -webkit-transition: 600ms;
  transition: 600ms;
}

.navbar.sticky .menu li a:hover::before {
  width: 100%;
  background: #c0ffff;
}

.navbar.sticky .menu li a:hover {
  color: #c0ffff;
}

.card-info .flip-card-back {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  border-radius: 10px;
  margin-bottom: 2.4rem;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  border: 1px solid #f1f1f1;
  border-radius: 10px;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
  text-align: center;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  color: black;
  background-size: cover;
  border-radius: 10px;
  background-position: center;
}

.flip-card-back {
  background-position: center;
}

.my-photo-back {
  color: #1098ad;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

/* Style the back side */
.card-info .flip-card-back {
  /* background-color: dodgerblue; */
  color: #095f6c;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flip-card-back p {
  text-align: center;
}

.born {
  background-image: url("https://images.unsplash.com/flagged/photo-1551049215-23fd6d2ac3f1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=876&q=80");
}

.adress {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/f/f5/Phong_c%E1%BA%A3nh_H%E1%BB%93_T%C3%A2y.jpg");
}

.body-status {
  background-image: url("https://images.unsplash.com/photo-1537094082840-dcbbfa99385f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
}

.education {
  background-image: url("https://images.unsplash.com/photo-1580582932707-520aed937b7b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80");
}

.budget {
  background-image: url("https://images.unsplash.com/photo-1518458028785-8fbcd101ebb9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
}

.relationship {
  background-image: url("https://images.unsplash.com/photo-1513279922550-250c2129b13a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
}

.me {
  background-image: url("https://images.unsplash.com/photo-1535295972055-1c762f4483e5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80");
  border-radius: 10px;
}

.my-photo-front {
  width: auto;
  height: auto;
  border-radius: 10px;
}

.my-photo-back {
  background-image: url("/img/mybg.jpg");
  background-size: cover;
  border-radius: 10px;
}

.my-life--short {
  margin-bottom: 4rem;
  padding: 2rem;
  -webkit-box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
          box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
}

.my-life--free-time {
  margin-bottom: 4rem;
  padding: 2rem;
  -webkit-box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
          box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
}

.item {
  background-color: #095f6c;
  margin: 20px auto 200px auto;
  border-radius: 8px;
  color: #fff;
  padding: 32px;
  padding-left: 86px;
  padding-right: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 86px;
  position: relative;
  -webkit-box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5);
          box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5);
}

.item:hover {
  cursor: pointer;
}

.owl-carousel {
  position: relative;
}

.owl-nav {
  position: absolute;
  background-color: #333;
  top: 32%;
  width: 100%;
}

.owl-prev {
  position: absolute;
  left: 4%;
  -webkit-transform: translateX(-44%);
          transform: translateX(-44%);
  /* z-index: -1; */
}

.owl-next {
  position: absolute;
  right: 4%;
  -webkit-transform: translateX(44%);
          transform: translateX(44%);
  /* z-index: -1; */
}

.owl-nav button span {
  width: 42px;
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  color: #095f6c;
  -webkit-box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5);
          box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 50%;
}

.owl-theme .owl-nav [class*="owl-"]:hover {
  background: #fff;
  color: #087352;
  border-radius: 50%;
}

.owl-stage-outer {
  height: 34.2rem;
}

.owl-carousel .owl-item img {
  width: 20rem;
  height: 20rem;
  -webkit-transform: scale(1.52);
          transform: scale(1.52);
  border-radius: 0.6rem;
  -webkit-box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5);
          box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5);
}

.owl-dot,
.owl-next,
.owl-prev {
  width: auto;
}

.owl-theme .owl-dots .owl-dot.active span {
  background: #095f6c !important;
}

.skills img {
  height: 10.6rem;
}

.skills .skills__technical__item {
  margin-bottom: 2rem;
}

.skills .skills__technical__item p {
  text-align: center;
}

.skills .item-box {
  text-align: center;
  padding: 1.4rem;
  -webkit-box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
          box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
  border-radius: 1.2rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.skills .item-box:hover {
  opacity: 0.88;
  -webkit-transform: scale(1.12);
          transform: scale(1.12);
}

.skills .skills__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills .skills__description__item {
  height: calc(100% / 5 - 1.2rem);
  padding: 1rem;
  -webkit-box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
          box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
  border-radius: 1.2rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills .skills__description__item:hover {
  opacity: 0.88;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.skills .download-cv {
  display: block;
  width: 20%;
  padding: 1.2rem 2rem;
  text-align: center;
  border: 0.2rem solid #1098ad;
  border-radius: 0.8rem;
  margin: 0 auto;
  background-color: #1098ad;
  color: #e3fafc;
}

.skills .download-cv:hover {
  cursor: pointer;
  background-color: transparent;
  color: #1098ad;
}

.contact-infor {
  -webkit-box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
          box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  padding: 4rem;
}

.contact-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-detail p ~ p {
  margin-top: 2rem;
}

.contact-detail img {
  margin-top: 2rem;
  border-radius: 0.8rem;
}

.contact-infor form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.2rem;
}

.contact-infor form .send-button {
  width: 46%;
  margin: 3rem auto 0 auto;
}

.contact-infor form button {
  width: 100%;
  padding: 1.4rem;
  color: #e3fafc;
  background-color: #1098ad;
  border: 2px solid #1098ad;
  border-radius: 0.6rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.contact-infor form button:hover {
  background-color: transparent;
  color: #333;
}

.form-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.2rem;
}

.form-label input {
  width: 78%;
  margin: 0 auto;
  padding: 0.6rem;
  border: 0.2rem solid #1098ad;
  border-radius: 0.8rem;
  color: #1098ad;
}

.form-label input:focus-visible {
  outline: none;
  border: 0.2rem solid #1098ad;
  background-color: #e3fafc;
}

.form-label textarea {
  padding: 0.6rem;
  border-radius: 0.8rem;
  border: 0.2rem solid #1098ad;
  color: #1098ad;
}

.form-label textarea:focus-visible {
  background-color: #e3fafc;
  outline: none;
  border: 0.2rem solid #1098ad;
}

.contact-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  margin: 5.4rem auto 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-icon .contact-icon__item a span {
  display: inline-block;
  width: 4.2rem;
  height: 4.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background: #fff;
  -webkit-box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5);
          box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5);
  position: relative;
}

.contact-icon .contact-icon__item svg {
  color: #333;
}

.contact-icon .contact-icon__item:hover svg {
  color: #fff;
}

.contact-icon .facebook:hover span {
  background-color: #3b5999;
}

.contact-icon .twitter:hover span {
  background-color: #46c1f6;
}

.contact-icon .instagram:hover span {
  background-color: #e1306c;
}

.contact-icon .github:hover span {
  background-color: #333333;
}

.contact-icon .linkedin:hover span {
  background-color: #3755ff;
}

.contact-icon .contact-icon__hover {
  /*style box appear when hover span*/
  font-size: 14px;
  padding: 8px;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  border-radius: 4px;
}

.contact-icon__hover::before {
  /*Style box appear when hover span*/
  position: absolute;
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  -webkit-transform: translate(-50%, 20%) rotate(45deg);
          transform: translate(-50%, 20%) rotate(45deg);
  bottom: 0;
  left: 50%;
}

.facebook span:hover .contact-icon__hover {
  /*Style color, and position box appear when hover span*/
  background: #3b5999;
  opacity: 1;
  -webkit-transform: translate(-25%, -120%);
          transform: translate(-25%, -120%);
}

.twitter span:hover .contact-icon__hover {
  background: #46c1f6;
  opacity: 1;
  -webkit-transform: translate(-12%, -120%);
          transform: translate(-12%, -120%);
}

.instagram span:hover .contact-icon__hover {
  background: #e1306c;
  opacity: 1;
  -webkit-transform: translate(-22%, -120%);
          transform: translate(-22%, -120%);
}

.github span:hover .contact-icon__hover {
  background: #333333;
  opacity: 1;
  -webkit-transform: translate(-14%, -120%);
          transform: translate(-14%, -120%);
}

.linkedin span:hover .contact-icon__hover {
  background: #3755ff;
  opacity: 1;
  -webkit-transform: translate(-18%, -120%);
          transform: translate(-18%, -120%);
}

.facebook .contact-icon__hover::before {
  background: #3b5999;
  -webkit-transform: translate(-50%, 20%) rotate(45deg);
          transform: translate(-50%, 20%) rotate(45deg);
}

.twitter .contact-icon__hover::before {
  background: #46c1f6;
  -webkit-transform: translate(-50%, 20%) rotate(45deg);
          transform: translate(-50%, 20%) rotate(45deg);
}

.instagram .contact-icon__hover::before {
  background: #e1306c;
  -webkit-transform: translate(-50%, 20%) rotate(45deg);
          transform: translate(-50%, 20%) rotate(45deg);
}

.github .contact-icon__hover::before {
  background: #333333;
  -webkit-transform: translate(-50%, 20%) rotate(45deg);
          transform: translate(-50%, 20%) rotate(45deg);
}

.linkedin .contact-icon__hover::before {
  background: #3755ff;
  -webkit-transform: translate(-50%, 20%) rotate(45deg);
          transform: translate(-50%, 20%) rotate(45deg);
}

.contact-icon__hover {
  opacity: 0;
  -webkit-transition: 0.5s all cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: 0.5s all cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

footer p {
  text-align: center;
  width: 50rem;
  margin: 0 auto;
}
/*# sourceMappingURL=main.css.map */