@media (max-width: 739px) {
  .navbar .wide .menu__btn {
    display: block;
  }

  .row.space_between {
    justify-content: space-between;
  }

  .menu {
    display: none;
  }

  .logo {
    margin-left: 2rem;
  }

  .navbar .wide .menu__btn {
    --main-color: #1098ad;
    display: block;
    color: var(--main-color);
    margin-right: 2rem;
  }

  .my-life .skills__technical,
  .skills__description {
    margin: 0 2rem;
  }

  .skills img {
    height: 8.2rem;
  }

  .skills p {
    text-align: center;
  }

  .skills__description__item {
    margin-top: 1.8rem;
  }
}

@media (min-width: 740px) and (max-width: 1023px) {
  .navbar .wide .menu__btn {
    --main-color: #1098ad;
    display: block;
    color: var(--main-color);
  }

  .menu {
    display: none;
  }

  .row.space_between {
    justify-content: space-between;
  }

  .skills__description__item {
    margin-top: 1.8rem;
  }

  .contact-infor form {
    margin-top: 3.2rem;
  }
}

@media (min-width: 1024px) and (max-width: 1239px) {
  .contact-detail img {
    height: 35.8rem;
  }

  .form-item ~ .form-item {
    margin-top: 3rem;
  }
}
