--root {
  --main-color: #1098ad;
}

@media (max-width: 739px) {
  .navbar .wide .menu__btn {
    display: block;
  }

  .row.space_between {
    justify-content: space-between;
  }

  .menu {
    display: none;
  }

  .logo {
    margin-left: 2rem;
  }

  .navbar .wide .menu__btn {
    --main-color-light: #e3fafc;
    display: block;
    color: #1098ad;
    margin-right: 2rem;
  }

  .navbar.sticky .wide .menu__btn {
    display: block;
    color: #e3fafc;
    margin-right: 2rem;
  }

  .navbar .menu {
    display: block;
    position: fixed;
    background: #333;
    height: 100vh;
    width: 50%;
    right: -100%;
    top: 0;
    text-align: center;
    padding-top: 80px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .navbar .menu.active {
    right: 0;
  }
  .navbar .menu li {
    display: block;
    margin-left: 44%;
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 1.8rem;
  }

  .navbar.sticky .menu li a {
    color: var(--main-color-light);
  }

  .navbar .menu__btn {
    display: block;
    z-index: 999;
    line-height: 5.8rem;
  }

  .menu__btn i {
    font-size: 2.4rem;
  }

  .navbar .menu__btn i.active::before {
    content: "\f00d";
  }

  .navbar.sticky .menu .menu__btn.nav {
    display: inline;
    color: #c0ffff;
  }

  .card-info {
    width: 100%;
  }

  .my-photo-front {
    height: 60rem;
    width: 100%;
  }

  .my-life .skills__technical,
  .skills__description {
    margin: 0 2rem;
  }

  .skills img {
    height: 8.2rem;
  }

  .skills p {
    text-align: center;
  }

  .skills__description__item {
    margin-top: 1.8rem;
  }

  .skills .download-cv {
    width: 40%;
  }

  .contact-detail img {
    width: 100%;
  }

  .contact-infor form {
    width: 100%;
    margin-top: 3.2rem;
  }

  .contact-icon {
    width: 50%;
  }
}

@media (min-width: 740px) and (max-width: 1023px) {
  .navbar .wide .menu__btn {
    display: block;
    color: #1098ad;
  }

  .navbar.sticky .wide .menu__btn {
    display: block;
    color: #e3fafc;
    font-size: 2.4rem;
  }

  .navbar.sticky .menu .menu__btn.nav {
    display: inline;
    color: #c0ffff;
  }

  .menu {
    display: none;
  }

  .navbar .wide .menu__btn {
    height: 5.1rem;
    display: flex;
    align-items: center;
  }

  .navbar.sticky .wide .menu__btn {
    height: 5.1rem;
    display: flex;
    align-items: center;
  }

  .navbar .menu {
    display: block;
    position: fixed;
    background: #333;
    height: 100vh;
    width: 40%;
    right: -100%;
    top: 0;
    text-align: center;
    padding-top: 80px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .navbar .menu.active {
    right: 0;
  }

  .navbar .menu li {
    display: block;
    margin-left: 44%;
  }

  .navbar .menu li a {
    display: block;
    margin: 20px 0;
    font-size: 25px;
  }

  .navbar .menu__btn {
    display: block;
    z-index: 999;
  }

  .navbar .menu__btn i.active::before {
    content: "\f00d";
  }
  .menu__btn i {
    font-size: 2.4rem;
  }

  .row.space_between {
    justify-content: space-between;
  }

  .skills__description__item {
    margin-top: 1.8rem;
  }

  .contact-infor form {
    margin-top: 3.2rem;
  }

  .contact-icon {
    width: 50%;
  }
}

@media (min-width: 1024px) and (max-width: 1239px) {
  .contact-detail img {
    height: 35.8rem;
  }

  .form-item ~ .form-item {
    margin-top: 3rem;
  }
}
